menu.container {
  width: 100vw;
  background-color: #E9E9E9;
  margin: 0;
  padding: 0;

  .menu_display_off_container {
    display: flex;
    padding: 1.5rem;

    --width_bar: 30px;
    --height_bar: 5px;
    .burger_container {
      cursor: pointer;
    }

    .logo {
      margin: auto 0 auto 1rem;
      height: var(--width_bar);
      img {
        height: 100%;
      }
    }

    .account_logo{
      cursor: pointer;
      margin-left: auto;
    }
  }
}