.img_logo {
  display: flex;
  gap: 10px;
  img {
    height: 38px;
  }
  p {
    margin: auto 0;
    font-weight: bold;
    font-size: larger;
  }
}
.listing_item{
  a{
    text-decoration: none;
  }

}