.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #000;
  
  
  .item_list {
    overflow-y: auto;
    flex: auto;
    padding: 20px;
    height: calc(100% - (2*20px));
    width: calc(100% - (2*20px));
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    background-color: #000;
    
  }
}