.list_container {
  padding: 20px;

  .item {
    padding: 15px 0;
    display: flex;
    gap: 10px;

    .name {
      .first_name {
        font-size: smaller;
      }
    }


    > div {
      border-radius: 5px;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  .item:first-child {
    padding-top: 0;
  }
  .item:last-child {
    padding-bottom: 0;
  }

}


