.main_container_info {
  display: flex;
  flex-direction: column;
  // height: fit-content;
  flex: auto;
  
  .messages {
    // background-color: lemonchiffon;
    background-color: rgb(24, 26, 28);
    width: auto;
    padding: 24px 16px;
    flex: auto;
    // height: calc(100% - );
    overflow-y: auto;
    height: 643px;

  }
}