:root {
  --size-status: 8px
}

.history {
  height: auto;
  width: 100%;
  .container_info {
    width: 100%;
    .top_informations{
      width: 100%;
      display: flex;
      margin-bottom: 10px;
      justify-content: space-between;
  
      .left_info {
        display: flex;
        .infos_middle {
          margin: auto 0 auto 10px
        }
      }
  
      .right_info {
        font-size: small;
        
      }
    }
    .summary_message {
      width: 100%;
    }
  }

}
