.container {
  min-height: 100vh;
  padding: 40px;
  background-color: #fff;
  overflow-y: auto;
  
  .wrapper{
    border: 1px solid #32383e;
    background-color: #f0f0f0;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    
    .title {
      padding: 20px;
      font-size: large;
      font-weight: bold;
      color: black;
  
    }
  
    .list_container {
      padding: 20px;
      border-top: 1px solid #32383e;
  
      .item, .item_flex {
        padding: 15px 0;
  
        > div {
          border-radius: 5px;
        }
  
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
  
        /* Firefox */
        input[type=number] {
          -moz-appearance: textfield;
        }
      }

      .item_flex {
        display: flex;
        gap: 5px;
      }
  
      .item:first-child {
        padding-top: 0;
      }
      .item:last-child {
        padding-bottom: 0;
      }
  
    }
  }
}