.container {
  height: 100vh;
  width: 100vw;
  background-color: red;
  display: flex;
  
  .left{
    padding: 3rem 1rem;
    background-color: #E9E9E9;
    overflow-y: auto;
    color: black;
    width: calc(100vw - 600px);
    .listOfItem{
      flex-wrap: wrap;
      flex: auto;
      display: flex;
      justify-content: space-around;
      gap: 10px;
      padding: 20px;
    }
    .padding{
      padding: 20px 0;
      display: flex;
      justify-content: center;
      color: black;
    }
  }

  .right{
    width: 600px;
    .test{
      background-color: red;
      width: 30px;
      height: 30px;
    }
  }

  @media (max-width: 1310px){
    .left {
      width: calc(100vw - 500px);
    }
    .right{
      width: 500px;
    }
  }
  @media (max-width: 1110px){
    .left {
      width: calc(100vw - 400px);
    }
    .right{
      width: 400px;
    }
  }
  @media (max-width: 750px){
    .left {
      width: 100vw;
    }
    .right{
      width: 0px;
    }
  }
}